// GRID

$grid-gutter-width: 1.5rem;

// FONTS

$body: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$heading: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$code: monospace;

// TYPE SIZES

$type-small: .8rem;
$type-default: 1rem;
$type-large: 1.25rem;
$type-subheading: 1.6rem;
$type-heading: 2.4rem;
$type-title: 3rem;
$type-display: 6rem;

// COLOURS
$white: #f5f5f5;
$black: #272a35;
$red: #eb3d54;
$green: #78bd65;
$blue: #4fb4d8;
$orange: #ef7c2a;
$teal: #2f9395;
$foreground: $black;
$background: $white;